:root {
  box-sizing: content-box;
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
  color: #000000;
}

a {
  text-decoration: none;
  color: #000000;
  padding: 8px;
}

p {
  opacity: .6;
  z-index: 0;
}

h3 {
  font-family: 'lovelo';
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 8px;
}

main {
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

header {
  font-family: 'lovelo';
  display: flex;
  justify-content: center;
  margin-top: 32px;
  margin-bottom: 16px;
}

button:active {
  border: none;
}

.hamburger {
  width: auto;
  height: auto;
  padding: 12px 8px 12px 8px;
  position: fixed;
  border: none;
  background-color: transparent;
  align-self: flex-start;
  margin: 4px;
  z-index: 2;
}

.hamburger__line {
  position: relative;
  width: 20px;
  height: 2px;
  background-color: #707070;
  transition: background-color .2s ease-out;
}

.hamburger__line::after,
.hamburger__line::before {
  content: '';
  position: absolute;
  left: 0;
  width: 20px;
  height: 2px;
  background-color: #707070;
}

.hamburger__line::before {
  top: -6px;
  transition: transform .2s ease-out;
}

.hamburger__line::after {
  top: 6px;
  transition: transform .2s ease-out;
}

.menu {
  width: 80vw;
  position: fixed;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: space-between;
  background-color: #ffffff;
  box-shadow: 2px 3px 12px 0px rgba(0, 0, 0, 0.75);
  transform: translateX(-85vw);
  transition: transform .2s ease-out;
  padding-top: 42px;
  padding-bottom: 16px;
  z-index: 1;
}

.menu__list {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
  margin-left: 16px;
}

.menu__list p {
  color: #000000;
}

.menu__list li,
.menu__list div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.menu__list .options {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.icon {
  margin-right: 8px;
}

.arrow {
  padding: 2px;
  margin-left: 4px;
}

.search {
  margin-left: -16px;
  width: 100%;
}

.search input {
  background: url(../images/search.png) no-repeat scroll;
  background-position: 95% center;
  width: max-content;
  align-self: center;
}

.title {
  width: 100vw;
  height: 16.18vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.title__img {
  margin-top: 16px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.title__subtitle {
  font-family: 'lovelo';
  margin-top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
  opacity: .6;
  z-index: 0;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100vw;
  height: 83.82vh;
  background-color: #E0DDD4;
  background-image: url("../images/heroImage.png");
  background-repeat: no-repeat;
  background-position: 20vw bottom;
  background-size: contain;
}

.hero__text {
  margin: 16px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.hero__title {
  font-family: 'lovelo';
  color: #ffffff;
  width: 50vw;
}

.hero__description {
  font-size: 1.3rem;
  opacity: 0.7;
  z-index: 0;
  width: 23vw;
}

.hero img {
  display: none;
}

.button {
  font-family: 'lovelo';
  border-radius: 50px;
  border: none;
  text-decoration: none;
  text-align: center;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.75);
  margin: 16px;
  width: max-content;
  align-self: center;
  padding: 0 1.5rem 0 1.5rem;
}

.button:hover {
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
}

.button:active {
  transform: translateY(1px);
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.75);
}

.button__default {
  background-color: #ffffff;
  color: #000000;
}

.input {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  background-color: #ffffff;
  color: #000000;
  border-radius: 50px;
  border: none;
  text-decoration: none;
  text-align: left;
  padding: 8px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.75);
  margin: 16px;
  flex-grow: 1;
  width: max-content;
  align-self: center;
}

.latest {
  width: 100vw;
}

.more {
  display: none;
}

.header__latest {
  margin-top: 16px;
  margin-bottom: 8px;
}

.items {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 16px;
  height: auto;
}

.item__latest {
  width: 12vw;
  padding: 16px;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  border-left: 1px solid #e5e5e5;
}

.item__latest:last-child {
  border-right: 1px solid #e5e5e5;
}

.image__item--latest {
  max-width: 100%;
}

.products {
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 16px;
}

.choose {
  font-family: 'lovelo';
  margin: 16px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.list__inactive {
  opacity: .6;
  z-index: 0;
}

.productlist {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: baseline;
  margin: 16px;
  margin-bottom: 0;
}

.productlist li {
  width: 25vw;
  margin: 16px;
}

.description {
  border-top: 1px solid #e5e5e5;
}

.image__product {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 8px;
  max-width: 80%;
}

.footer {
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}

.button__confirm {
  background: rgb(2, 0, 36);
  background: linear-gradient(180deg, rgba(2, 0, 36, 1) 0%, rgba(255, 160, 92, 1) 0%, rgba(255, 101, 6, 1) 100%);
  color: #ffffff;
  flex-grow: 0.5;
}

.newsletter {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
}

.contact {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.phone {
  opacity: .6;
  z-index: 0;
}

.payment {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 16px;
}

.exclamation {
  color: #ff6600;
  opacity: 1;
  z-index: 0;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 16px;
}

.copyright {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 4px;
}

.copyright p {
  font-size: 1rem;
  margin: 4px;
}

@media (min-width: 71em) {
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  main {
    align-items: center;
    padding-top: 46px;
    background-color: #E0DDD4;
  }

  .hamburger {
    display: none;
  }

  .menu {
    transform: translateX(0);
    box-shadow: none;
    position: relative;
    padding: 0;
  }

  .header {
    display: flex;
    flex-direction: row;
    width: 80vw;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }

  .title {
    position: absolute;
    width: auto;
    height: auto;
    z-index: 1;
  }

  .options::after {
    content: '';
    position: absolute;
    width: 68vw;
    height: 2px;
    background-color: #707070;
    transform: translateY(3.4rem);
    justify-self: flex-end;
  }

  .title__img {
    margin-left: 0;
    margin-right: 0;
  }

  .menu__list {
    margin: 0;
  }

  .menu__list ul {
    display: flex;
    flex-direction: row;
  }

  .menu__list ul li:first-child {
    margin-left: 0;
  }

  .menu__list div {
    margin-left: 16px;
  }

  .menu__list .options {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
  }

  .search {
    width: auto;
  }

  .button__confirm {
    margin-right: 0;
  }

  .title__subtitle {
    margin-left: auto;
    margin-right: auto;
    z-index: 0;
    background-color: #ffffff;
    padding-right: 8px;
    color: #666666;
    opacity: 1;
  }

  .button {
    padding: 8px 4rem 8px 4rem;
    align-self: flex-start;
  }

  .hero {
    display: flex;
    flex-direction: column;
    width: 80vw;
    justify-content: space-around;
    background-color: #E0DDD4;
    background-image: none;
    padding: 77px;
    height: 455px;
  }

  .hero a {
    margin: 0;
  }

  .hero__text {
    width: 80vw;
    margin: 0;
  }

  .hero__title {
    font-size: 5rem;
    line-height: 1em;
    margin: 0;
  }

  .hero__description {
    font-size: 1em;
    opacity: 0.6;
    z-index: 0;
    width: 50%;
    margin: 0;
  }

  .hero::before {
    position: absolute;
    content: "";
    display: block;
    height: 455px;
    border: 6px solid #ffffff;
    border-right: none;
    width: 94vw;
    margin: -83px;
  }

  .hero img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    height: 811px;
    align-self: end;
    transform: translateY(92px);
  }

  .latest {
    background-color: #ffffff;
    z-index: 2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #e5e5e5;
    border
  }

  .items {
    margin: 0;
  }

  .image__item--latest {
    max-width: 78px;
  }

  .item__latest {
    width: auto;
    border-bottom: none;
    border-top: none;
  }

  .more {
    display: inline;
  }

  .header__latest {
    margin-right: 16px;
  }

  .products {
    background-color: #ffffff;
    z-index: 2;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 0;
  }

  .choose {
    justify-content: center;
    width: 80vw;
  }

  .choose div {
    margin: 50px;
  }

  .productlist {
    width: 80vw;
    justify-content: center;
  }

  .productlist li {
    width: 20%;
  }

  .productlist img {
    max-width: 100%;
  }

  .products a {
    align-self: center;
  }

  .footer {
    width: 80vw;
    flex-direction: row;
    border: 1px solid #e5e5e5;
    padding: 40px;
  }

  .footer div {
    text-align: left;
    align-items: flex-start;
  }

  .footer ul li {
    text-align: left;
    align-items: flex-start;
    margin-left: 0;
  }

  .footer ul li a {
    text-align: left;
    align-items: flex-start;
    margin-left: 0;
    padding-left: 0;
  }

  .footer header {
    justify-content: flex-start;
    margin: 16px;
  }

  .info {
    align-items: flex-start;
    text-align: left;
    margin-left: 16px;
  }

  .info__container {
    flex-grow: .41;
  }

  .payment__container {
    flex-grow: .37;
  }

  .contact__container {
    flex-grow: .22;
  }

  .copyright {
    width: 80vw;
    align-items: flex-start;
    padding-left: 16px;
  }
}
